.button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	margin-top: 30px;
	color: black;
	--background: white;
}

.input {
	--background: #2d3439;
	color: white;
	--border-color: white;
	--highlight-color-focused: white;
}

.input .title {
	--background: rgba(106, 107, 111, 0.5);
	color: white;
	font-size: 120%;
}

.label-stacked.sc-ion-label-md-h {
	--background: #2d3439;
}
.item-has-focus .label-stacked.sc-ion-label-md-h {
	color: #ffffff;
}
