.card {
	background-color: rgba(106, 107, 111, 0.5);
	color: rgba(241, 241, 241, 0.9);
	padding-bottom: 2%;
}

.grid-agent {
	justify-content: center;
	color: rgba(106, 107, 111, 0.5);
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-gap: 20px;
	justify-items: center;
	align-items: center;
	padding: 10px;
}


.grid-operation {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	grid-gap: 20px;
	align-items: center;
	padding: 0;
}

.grid-operation .text {
	font-size: auto;
}

.card .display {
	margin: 10px;
}

.hidden {
	display: none;
}

.avatar {
	--border-radius: 50%
}

.text {
	font-size: auto;
	color: rgba(241, 241, 241, 0.9);
}
