.comment {
	--background: --ion-color-step-550;
	--border-color: white;
}

.largecomment {
	background-color: rgba(106, 107, 111, 0.5);
	padding-bottom: 2%;
}


.grid-smallcomment {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.grid-smallcomment .text {
	font-size: 100%;
	color: white;
}

.head {
	padding: 10px;
}

.grid-largecomment {
	display: grid;
	grid-template-columns: 4fr 2fr;
	height: auto !important;
	grid-gap: 20px;
	align-items: center;
	padding: 0;
}

.subtitle {
	font-size: 110%;
	color: rgb(182, 182, 182);
	align-content: center;
	margin-bottom: 5%;
}

.title {
	font-size: 150%;
	color: white;
	align-content: center;
}

.grid-largecomment .img {
	width: auto;
  height: auto;
  border: 1px solid #2d3439;
  background-size: cover;
	background-position: center;
}



.grid-content i {
	font-size: 20px;
}

.grid-content {
	display: grid;
	grid-template-columns: 5fr 2fr;
	align-items: center;
	padding: 0;
}

.grid-content .text-content {
	display: grid;
	grid-template-rows: 1fr 4fr;
	grid-gap: 10%;
}

.icon {
	margin-left: auto;
	margin-right: auto;
	font-size: 350%;
	color: white;
}
