.signup {
	--background: #2d3439;
	justify-content: center;
	color: white;
}

.signup .image {
	height: 30%;
	width: 30%;
}

.signup .text {
	color: white;
	font-size: 120%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
}

.signup .form {
	--background: #2d3439;
	color: #ffffff;
	--border-color: white;
	--highlight-color-focused: white;
}
